<label for="proposalContent">Proposal Content:</label>
<div style="width: 100%; display: flex">
  <img src="./templates/scroll-top.png" style="max-width: 100%" />
</div>
<div
  style="
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  "
>
  <textarea id="scrollTextarea" rows="1"></textarea>
</div>
<div style="width: 100%; display: flex">
  <img src="./templates/scroll-bottom.png" style="max-width: 100%" />
</div>

<label for="proposalContent">Declaration</label>
<textarea id="proposalContent" name="proposalContent"></textarea>

<label for="comments">Comments:</label>
<textarea id="comments" name="comments"></textarea>

<button type="submit">Submit Proposal</button>